package todo

import (
	"github.com/senomas/todo_app/store"
)

templ list(todos []*store.Todo) {
  <ul class="space-y-2">
  for _, todo := range todos {
      @listItem(todo)
  }
  </ul>
}

templ listItem(todo *store.Todo) {
  <li class="flex items-center bg-white border rounded-md p-3">
    <span>{todo.Title}</span>
    <button class="ml-auto px-3 py-1 bg-red-500 text-white rounded-md">
      Delete
    </button>
  </li>
}
